/* 
COLORS: 
  #FF52A2;
  #17105B;
  #091626;
  #EC4919;
  #CD2426;
*/

body {
  background-color: #17105B;
}

h1, h2, h3, h4, h5, h6, p, a {
  color: #FF52A2;
}

a:hover, a:active {
  color: #EC4919;
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  font-family: 'Audiowide';
  text-align: center;
  clear: both;
}

img.movie-poster {
  align-items: center;
  justify-content: center;
}

.list-group-item {
  background-color: rgba(255, 255, 255, 0.8) !important;
}

a.list-group-item:hover {
  background-color: rgba(255, 255, 255, 0.9) !important;
}

p, a {
  font-family: 'Ubuntu' !important;
  font-weight: 700;
}

nav.navbar-dark{
  background-color: #091626;
}

a.navbar-brand {
  color: #FFAFC3 !important;
}
a.navbar-brand:hover {
  color: #FF52A2 !important;
}

a.home-link {
  float: left;
}

a.edit-link {
  float: left;
  padding-left: 10px;
}

a.delete-link {
  float: right;
}

h3.page-title {
  margin: 20px 0;
}

@media screen and (min-width: 768px) {
  body {
    
  }
  .container {
    max-width: 800px;
  }
  h3.page-title {
    margin: 40px 0;
    font-size: 3rem;
  }
}